.sample-enter {
    opacity: 0;
}

.sample-enter-active {
    opacity: 0.5;
}

.sample-enter-done {
    opacity: 1;
}

.sample-exit {
    opacity: 1;
}

.sample-exit-active {
    opacity: 0.5;
}

.sample-exit-done {
    opacity: 0;
}

.Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}